@tailwind base;
@tailwind components;
@tailwind utilities;

.k-link {
  @apply text-blue-600 hover:text-blue-800 hover:underline transition-colors duration-200;
}

.k-secondary-text {
  @apply ms-2 font-semibold text-gray-500 dark:text-gray-400
}

/******************************************************/

h1 {
  @apply text-5xl font-bold dark:text-white
}

h2 {
  @apply text-4xl font-bold dark:text-white
}

h3 {
  @apply text-3xl font-bold dark:text-white
}

h4 {
  @apply text-2xl font-bold dark:text-white
}

h5 {
  @apply text-xl font-bold dark:text-white
}

h6 {
  @apply text-lg font-bold dark:text-white
}